header, footer {
	background-color: lightgray;
	border: solid 1px solid;
	font-family: 'Times New Roman', serif; 
}

footer {
	padding: 10px;
	border-radius: 3px;	
}

body {
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

/* class */
.bordered {
	border: 1px solid #ccc;
	border-radius: 2px;	
}

.simple-form {
	padding: 2px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.details {
	background-color: #ccc;
	border: #444;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	font-size: 10px;
}